# Credenciales de login (cambia estos valores)
APP_USERNAME=admin
APP_PASSWORD=argos2026

# Clave secreta para sesiones (genera una aleatoria)
SECRET_KEY=cambia-esto-por-una-clave-segura-aleatoria

# AWS
AWS_ACCESS_KEY_ID=tu-access-key
AWS_SECRET_ACCESS_KEY=tu-secret-key
AWS_REGION=us-east-1

# ARN del modelo Rekognition Custom Labels
MODEL_ARN=arn:aws:rekognition:us-east-1:442444704156:project/Argos/version/Argos.2026-05-24T18.36.39/1779665799778

# Minutos máximos antes de apagar el modelo automáticamente
MODEL_MAX_MINUTES=60
